#
#   SPDX-FileCopyrightText: 2022 Julian Amann <dev@vertexwahn.de>
#   SPDX-License-Identifier: Apache-2.0
#

build --symlink_prefix=/ # Out of source build

# macOS (e.g. Clang 12.0.0)
build:macos --cxxopt=-std=c++2a
#build:macos --cxxopt=-Wall

# GCC 11.2
build:gcc11 --cxxopt=-std=c++20
build:gcc11 --cxxopt=-Wall

# Visual Studio 2022
build:vs2022 --cxxopt=/std:c++20
build:vs2022 --cxxopt=/Zc:__cplusplus
build:vs2022 --enable_runfiles # https://github.com/bazelbuild/bazel/issues/8843
build:vs2022 --copt=-DWIN32_LEAN_AND_MEAN
build:vs2022 --copt=-DNOGDI
build:vs2022 --host_copt=-DWIN32_LEAN_AND_MEAN
build:vs2022 --host_copt=-DNOGDI
